* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  min-height: 100vh;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  background: white;
}







.header1 {
  height: 30px;
  background: #1b1b6c;
}

h1 {
  font-size: 10px;
  font-weight: 300;
  color: white;
  padding: 15px 10px;
}












.header2 {
  height: 180px;
  background: #13124f;
  padding: 45px 20px;
  color: white;
}

.helloworld {
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 10px;
}

.welcome {
  font-size: 10px;
  opacity: 2;
  margin-bottom: 20px;
}

.learnmore {
  background: #f61067;
  color: white;
  border: none;
  padding: 5px 5px;
  font-size: 8px;
  cursor: pointer;
  font-weight: 600;
}















.content {
    display: flex;
    height: 489px;
    background: white;
    padding: 24px;
    gap: 20px;
}

.content-left {
    flex: 2;
}

.content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.heading-line {
    border-bottom: 2px solid #9090a5;
    padding-bottom: 8px;
    margin-top: 13px;
}


.small-text {
    font-size: 9px;
    margin-bottom: 20px;
    margin-top: 13px;
}


.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    margin-bottom: 20px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.alert-box {
    background: #9090a5;
    padding: 10px;
    font-weight: 500;
    color: white;
    font-size: 10px;
}

.messages-btn {
    background: #f61067;
    color: white;
    border: none;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 10px;
    margin-bottom: 15px;
}

.welcome-candidate {
    background-color: #9090a5;
    color: white;
    padding: 10px;
    font-size: 10px;
}

.welcome-box {
    background: #13124f;
    color: white;
    padding: 10px;
    font-size: 9px;
}

.welcome-box input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    background-color: #1b1b6c;
    font-size: 10px;
}

.send-btn {
    width: 100%;
    background: #f61067;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    font-size: 10px;
}

.zuraas {
    background-color: #352ba5;
    color: white;
    padding: 5px;
    font-size: 7px;
    text-align: center;
}

.zuraas p {
    border-bottom: 1px solid white;
    padding-bottom: 0px;
    display: inline-block;
}


.vote-box {
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
    font-size: 9px;
}

.progress-bar {
    width: 100%;
    background: #2ad392;
    height: 5px;
    margin: 5px 0;
}

.progress {
    background: #f61067;
    height: 100%;
}

.vote-buttons {
    display: flex;
    gap: 10px;
}

.vote-buttons .cool {
    background: #f61067;
    color: white;
    border: none;
    flex: 1;
    cursor: pointer;
    font-size: 10px;
}

.vote-buttons .lame {
    background: white;
    border: 1px solid #00c853;
    color: #00c853;
    flex: 1;
    cursor: pointer;
    font-size: 10px;
}













.footer {
  height: 30px;
  background: #1b1b6c;
}
.footer-text {
    font-size: 10px;
    opacity: 2;
    color: white;
    padding: 10px 20px;
}




@media (min-width: 1024px) {
    .content {
        flex-direction: row;
    }
}


@media (max-width: 1023px) and (min-width: 768px) {
    .container {
        width: 90%;
    }

    .helloworld {
        font-size: 28px;
    }

    .content {
        gap: 10px;
    }

    .video-wrapper iframe {
        height: auto;
    }
}



@media (max-width: 767px) {
    .container {
        width: 100%;
    }

    .content {
        flex-direction: column;
        height: auto;
    }

    .content-right,
    .content-left {
        width: 100%;
    }

    .header2 {
        height: auto;
        padding: 20px;
        text-align: center;
    }

    .helloworld {
        font-size: 24px;
    }

    .welcome {
        font-size: 9px;
    }

    iframe {
        width: 100%;
        height: auto;
    }

    .messages-btn,
    .send-btn,
    .cool,
    .lame {
        font-size: 12px;
        padding: 8px;
    }

    .vote-buttons {
        flex-direction: column;
    }

    .vote-buttons button {
        width: 100%;
    }
}
